@import 'elements.scss';

:root {
    font-size: 4px;
}
body, h1, h2, h3, p, button, a, input, ul, li {
    margin: 0;
    padding: 0;
    all: unset;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: var(--montserrat);
    background-color: $black;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
    gap: 180px;
    padding: 0 5vw;
    margin-top: 181px;
    margin-bottom: 100px;
}
::-webkit-scrollbar {
    width: 12px;
}
  ::-webkit-scrollbar-track {
    background: transparent;
}
  ::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: $radius;
    border: 2.75px solid $black;
    &:hover {
        background: $white-hover;
    }
}
  

header {
    width: 100vw;
    position: fixed;
    opacity: 1;
    z-index: 10;
    margin-top: 8px;
}
.header-wrapper {
    display: flex;
    background-color: $black-hover;
    padding: 12px;
    box-sizing: border-box;
    border-radius: $radius;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    .logo {
        width: 48px;
        height: 48px;
        transition: all .4s $transition;
        cursor: pointer;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        &:hover {
            color: $white-hover;
        }
    }
}
.header-profile {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $white;
    svg {
        width: 36px;
        height: 36px;
    }
}

.burger-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    &:hover {
        .burger-rect {
            background-color: $white-hover;
        }
    }
}
.burger-rect {
    transition: all .4s $transition;
    background-color: $white;
    width: 60px;
    height: 8px;
    border-radius: $radius;
}

.burger-nav {
    position: fixed;
    transition: all .4s $transition;
    transform: translateY(-127px);
    background-color: $black-hover;
    flex-direction: column;
    gap: 8px;
    display: flex;
    padding: 12px 12px 12px 8px;
    border-radius: $radius;
    top: 89px;
    opacity: 0;
    left: 5vw;
    box-shadow: 0 0 7px $white;
}
.burger-open {
    transform: translate(0);
    opacity: 1;
    z-index: 1;
}
.nav-item {
    color: $white;
    cursor: pointer;
    transition: all .4s $transition;
    &:hover {
        color: $color;
    }
}
.nav-item-active {
    color: $color;
    &:hover {
        color: $color-hover;
    }
}

.burger-rect1 {
    transform: 
        translateY(20px)
        rotate(45deg);
}
.burger-rect3 {
    transform: 
        translateY(-20px)
        rotate(-45deg);
}
.burger-rect2 {
    transform: 
    scale(0)
    rotate(360deg);
}

footer {
    width: 100vw;
    background-color: $black;
}
.footer-wrapper {
    display: flex;
    background-color: $black-hover;
    padding: 24px 5vw;
    box-sizing: border-box;
    align-items: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    .logo {
        transition: all .4s $transition;
        cursor: pointer;
        color: $white;
        &:hover {
            color: $white-hover;
        }
    }
}
.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-links {
    cursor: pointer;
    display: flex;
    transition: all .4s $transition;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    color: $white;
    svg {
        width: 32px;
        height: 32px;
    }
    &:hover {
        color: $white-hover;
    }
}

.logo-container {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 960px) {
    main {
        padding: 0 1vw;
    }
    .header-wrapper {
        width: 100vw;
        border-radius: 0;
    }
    header {
        margin-top: 0;
    }
    .burger-nav {
        left: 1vw;
    }
    .footer-wrapper {
        padding: 24px 1vw;
    }
}